<!-- Header -->
	<%= render 'shared/header' %>

			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">
						<div class="12u">

							<h2 class="major"><span>Музыка</span></h2>
	
								<p>Some information</p>

						</div>
					</div>
				</div>
			</div>
<!-- Footer -->
	<%= render 'shared/footer' %>