			<footer id="footer" class="container">
				<div class="row 200%">
					<div class="12u">

						<!-- About -->
							<section id="contacts">
								<h2 class="major"><span>Контакты</span></h2>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u"><input type="text" placeholder="Name" /></div>
											<div class="6u"><input type="text" placeholder="Email" /></div>
										</div>
										<div class="row 50%">
											<div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" class="button" value="Send Message" /></li>
													<li><input type="reset" class="button alt" value="Clear Form" /></li>
												</ul>
											</div>
										</div>
									</form>
							</section>

					</div>
				</div>
				<div class="row 200%">
					<div class="12u">

						<!-- Contact -->
							<section>
								<h2 class="major"><span>Мы в социальных сетях</span></h2>
								<ul class="contact">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
									<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
								</ul>
							</section>
					
					</div>
				</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul class="menu">
							<li>&copy; Only One. All rights reserved. 2014</li>
						</ul>
					</div>

			</footer>