



		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
      <ul>
        <li class="active"><a href="#"><img src="/images/min_logo.png"></a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Наши услуги</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				
			</div>