



		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
      <ul>
        <li class="active"><a href="http://localhost:3000"><img src="/images/min_logo.png"></a></li>
        <li><a href="http://localhost:3000/#o_nas">О нас</a></li>
        <li><a href="http://localhost:3000/#uslugi">Наши услуги</a></li>
        <li><a href="/albums">Галерея</a></li>
        <li><a href="http://localhost:3000/#news">Новости</a></li>
        <li><a href="http://localhost:3000/#contacts">Контакты</a></li>
      </ul>
    </nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				
			</div>