		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
				<ul>
					<li><a href="#">OnlyOne</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Наши услуги</a></li>
					<li><a href="#">Галерея</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<section id="banner">
					<!--<h2>OnlyOne logo</h2>-->
					<p><img src="/images/logo.png"></p>
					<p>Ивент агенство Ивент агентсво ивент агенство</p>
					<a href="#" class="button">Связаться с нами</a>
				</section>
			</div>