		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
      <ul>
        <li><%= link_to "OnlyOne", root_path %></li>
        <li><a href="#o_nas">О нас</a></li>
        <li><a href="#services">Наши услуги</a></li>
        <li><a href="#gallery">Галерея</a></li>
        <li><%= link_to "Новости", news_index_path %></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>
    </nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<section id="banner">
					<!--<h2>OnlyOne logo</h2>-->
					<p><img src="/images/logo.png"></p>
					<p>Ивент агенство Ивент агентсво ивент агенство</p>
					<a href="#" class="button">Связаться с нами</a>
				</section>
			</div>