<!DOCTYPE HTML>

<html>
	<head>
		<title>TXT by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/jquery.dropotron.min.js"></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/skel-layers.min.js"></script>
		<script src="javascripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="stylesheets/skel.css.scss" />
			<link rel="stylesheet" href="stylesheets/stat_pages.css.scss" />
			<link rel="stylesheet" href="stylesheets/style-desktop.css.scss" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

	<!-- Header -->
			
		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
				<ul>
					<li class="current"><a href="#">OnlyOne</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Наши услуги</a></li>
					<li><a href="#">Галлерея</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<section id="banner">
					<!--<h2>OnlyOne logo</h2>-->
					<p><img src="images/logo.png"></p>
					<p>Ивент агенство Ивент агентсво ивент агенство</p>
					<a href="#" class="button">Связаться с нами</a>
				</section>
			</div>

		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">
						<div class="12u">
							
							<!-- Highlight -->
								<section class="box highlight">
									<h2 class="major"><span>О нас</span></h2>
									
									<p>
										Наше ивент агенство предлагает.....<br />
										Мы такие и такие и такие....
										Наше ивент агенство предлагает.....<br />
										Мы такие и такие и такие....
									</p>
									<h2 class="major"><span>Наши услуги</span></h2>
									<ul class="special">
										<li><a href="#" class="icon fa-search"><span class="label">Magnifier</span></a></li>
										<li><a href="#" class="icon fa-tablet"><span class="label">Tablet</span></a></li>
										<li><a href="#" class="icon fa-flask"><span class="label">Flask</span></a></li>
										<li><a href="#" class="icon fa-cog"><span class="label">Cog?</span></a></li>
									</ul>
									<header>
										<p>Мы предлагаем</p>
									</header>
									<p>Наши услуги можно разделить на....</p>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Features -->
								<section class="box features">
									<h2 class="major"><span>Галерея</span></h2>
									<div>
										<div class="row">
											<div class="3u">
												
												<!-- Feature -->
													<section class="box feature">
														<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
														<h3><a href="#">Альбом 1</a></h3>
														<p>
															Свадьба там то там то
														</p>
													</section>
										
											</div>
											<div class="3u">
												
												<!-- Feature -->
													<section class="box feature">
														<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
														<h3><a href="#">Альбом 2</a></h3>
														<p>
															День рождение в стиле лалала
														</p>
													</section>
										
											</div>
											<div class="3u">
												
												<!-- Feature -->
													<section class="box feature">
														<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
														<h3><a href="#">Альбом 3</a></h3>
														<p>
															Корпоратив туц туц туц
														</p>
													</section>
										
											</div>
											<div class="3u">
												
												<!-- Feature -->
													<section class="box feature">
														<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
														<h3><a href="#">Альбом 4</a></h3>
														<p>
															Каждую пятницу я.. ну вы поняли
														</p>
													</section>
										
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="actions">
													<li><a href="#" class="button big">Посмотреть все альбомы</a></li>
													<!--<li><a href="#" class="button alt big">Think About It</a></li>-->
												</ul>
											</div>
										</div>
									</div>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Blog -->
								<section class="box blog">
									<h2 class="major"><span>Новости</span></h2>
									<div>
										<div class="row">
											<div class="9u">
												<div class="content content-left">
												
													<!-- Featured Post -->
														<article class="box post">
															<header>
																<h3><a href="#">Главная новость</a></h3>
																<p>Открытие сайта</p>
																<ul class="meta">
																	<li class="icon fa-clock-o">15 minutes ago</li>
																	<li class="icon fa-comments"><a href="#">8</a></li>
																</ul>
															</header>
															<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
															<p>
																Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва....
															</p>
															<a href="#" class="button">Читать далее</a>
														</article>
												
												</div>
											</div>
											<div class="3u">
												<div class="sidebar">
											
													<!-- Archives -->
														<ul class="divided">
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость2</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">6 hours ago</li>
																		<li class="icon fa-comments"><a href="#">34</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость3</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">9 hours ago</li>
																		<li class="icon fa-comments"><a href="#">27</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость4</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">Yesterday</li>
																		<li class="icon fa-comments"><a href="#">184</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость5</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">2 days ago</li>
																		<li class="icon fa-comments"><a href="#">286</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость6</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">3 days ago</li>
																		<li class="icon fa-comments"><a href="#">8,086</a></li>
																	</ul>
																</article>
															</li>
														</ul>
														<a href="#" class="button alt">Посмотреть все</a>
												
												</div>
											</div>
										</div>
									</div>
								</section>
							
						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer" class="container">
				<div class="row 200%">
					<div class="12u">

						<!-- About -->
							<section>
								<h2 class="major"><span>Контакты</span></h2>
								<p>
									Контакты и форма обратной связи
									Контакты и форма обратной связи
									Контакты и форма обратной связи
									Контакты и форма обратной связи
								</p>
							</section>

					</div>
				</div>
				<div class="row 200%">
					<div class="12u">

						<!-- Contact -->
							<section>
								<h2 class="major"><span>Мы в социальных сетях</span></h2>
								<ul class="contact">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
									<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
								</ul>
							</section>
					
					</div>
				</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved</li>
						</ul>
					</div>

			</footer>

	</body>
</html>