<p>main page</p>


<div>
<ul>
	<li>О нас</li>
	<li><a href="/albums">Галлерея</a>
<ul>
	<li><a href="/albums/3">Альбом 1</a></li>
	<li><a href="/albums/6">Альбом 2</a></li>
</ul>
	</li>
	<li>Услуги</li>
	<li>Статьи</li>
	<li>Контакты</li>

</ul>
</div>