<article class="box post">
  <header>
    <h3><a href="#">Последняя новость</a></h3>
    <p><%= novelty.title %></p>
    <ul class="meta">
      <li class="icon fa-clock-o">15 minutes ago</li>
      <li class="icon fa-comments"><a href="#">8</a></li>
    </ul>
  </header>
  <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
  <p>
    <%= novelty.description %>
  </p>
  <a href="#" class="button">Читать далее</a>
</article>
