<ul class="divided">
  <% news.each do |novelty| %>
    <li>
      <article class="box post-summary">
        <h3><%= link_to novelty.title, news_path(novelty) %></h3>
        <p>
          <%= novelty.description.split[0..7].join(' ') %>...
        </p>
        <ul class="meta">
          <li class="icon fa-clock-o"><%= time_ago_in_words(novelty.created_at) %></li>
        </ul>
      </article>
    </li>
  <% end %>
</ul>
<a href=<%= news_index_path %> class="button alt">Посмотреть все</a>
