<div class="news_content">
	<h3>
  		<%= @novelty.title %>
	</h3>

	<%= image_tag @novelty.image.url, :class => "news_image" if @novelty.image_stored? %>

	<p>
		<%= @novelty.description %>
	</p>
</div>