


		<section class="box features" id="gallery">
			<div class="row">
				<% @albums.each do |album| %>
					<div class="3u">
						<section class="box feature">
							<a href="#" class="image featured">
								<% if album.image_stored? %>
    								<%= image_tag album.image.url %>
								<% else %>
    								<%= image_tag 'no_image.png' %>
								<% end %>
									<p><%= album.name %></p>
  									<p><%= album.description %></p>
									
							</a>
						</section>
					</div>
				<% end %>
			</div>
		</section>
	
