

		<section class="box features" id="gallery">
			<% @photos.in_groups_of(4).each do |photos| %>
			<% photos.select! {|x| !x.nil?} %>
				<div class="row">
						<% photos.each do |photo| %>
							<div class="3u">
								<section class="box feature">
										
											<% if photo.photoimage_stored? %>
    											<%= link_to image_tag(photo.photoimage.url), 
    											photo.photoimage.remote_url, 
    											class: 'image featured', rel: 'gallery', title: photo.photo_name, alt: 'Photo' %>
											<% else %>
    											<%= image_tag 'no_image.png' %>
											<% end %>
										
								</section>		
							</div>
						<% end %>
				</div>
			<% end %>
		</section>
	
