

		<section class="box features" id="gallery">
			<% @photos.in_groups_of(3).each do |photos| %>
			<% photos.select! {|x| !x.nil?} %>
				<div class="row">
						<% photos.each do |photo| %>
							<div class="3u">
								<section class="box feature">
										<a href="#" class="image featured">
											<% if photo.photoimage_stored? %>
    											<%= image_tag photo.photoimage.url %>
											<% else %>
    											<%= image_tag 'no_image.png' %>
											<% end %>
										</a>
								</section>		
							</div>
						<% end %>
				</div>
			<% end %>
		</section>
	
